
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'services:home' %}">Главная</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'services:list_newsletter' %}">Список Рассылок</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'services:create_newsletter' %}">Создание Рассылки</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Отчет проведенных рассылок отдельно</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Создание Пользователя</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Редактирование Пользователя</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Контакты</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Войти</a>
      </nav>
    </div>
